header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #b0b0b0;

  width: 100%;
  margin: 0 auto;

  .title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    a {
      text-decoration: none;
      color: #333;
    }

    a:hover {
      color: #000;
      text-decoration: underline;
    }
  }
}
